div.pad {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    z-index: 1;
}

#pad_1 {
    left: 0;
    top: 0;
}

#pad_2 {
    left: 0;
    bottom: 30px;
}

#pad_3 {
    right: 30px;
    bottom: 30px;
}

#pad_4 {
    right: 30px;
    top: 0;
}

#console {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
}

#screen {
    width: 100%;
    height: 400px;
}